server:
  port: 8880
spring:
  profiles:
    active: dev
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
mybatis:
  mapperLocations: classpath*:mapper/*Mapper.xml
security:
  passwordEncoder: noop
  loginUrl: http://localhost:8080
logging:
  level:
    com.edev.support: INFO
    com.edev.support.dao: DEBUG
    com.edev.support.cache: DEBUG
    com.edev.emall.query.dao: DEBUG
---
spring:
  profiles: dev
  datasource:
    url: jdbc:mysql://master:32306/emall?useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT%2B8
    username: emall
    password: emall1234
    type: com.alibaba.druid.pool.DruidDataSource
  redis:
    database: 0
    host: kubernetes
    port: 31379
    password:
    pool:
      maxActive: 200
      maxWait: -1
      maxIdel: 10
      minIdel: 0
    timeout: 1000